@charset "UTF-8";
/*岩本*/


/*****************共通******************************/
body {
	background-color: #FDFBF6;
}
main {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
main {
	min-height: 700px;
}

.list-area {
	display: flex;
	justify-content: center;
	gap: 80px;
	margin-top:40px;
}
/*****************もちものリスト******************/
.item-list {
	overflow: hidden;
	padding: 0;
	position: static;
	width: 550px;
	background: white;
	padding: 10;
	min-height: 360px;
	border-radius: 50px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.item-header {
	background: #cff3d0;		/**もちものリストの上の色**/
	padding: 10px;
	font-size: 30px;
    font-family:  'BIZ UDPGothic', sans-serif;
}
.item-body {
	background: #ffffff;
	padding: 20px;
	font-size: 20px;
    font-family:  'BIZ UDPGothic', sans-serif;
    line-height:2.0;
}
.item-body ul{
	list-style:none;
	padding:0;
	margin:0;
}

.item-body li{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:12px 5px;
	border-bottom:1px solid #EAEAEA;
	font-weight:bold;
}

.item-body li:last-child{
	border-bottom:none;
}
.item-input {
	margin-top: 20px;
	display: flex;
	gap: 10px;
}
.item-input input {
	flex: 1;
	padding: 10px;
	border: 1px solid #56e770;
	border-radius: 10px;
}
/**************もちものの追加ボタン*********************/
.item-input button {
	padding: 10px 20px;
	background: #0ecf17;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
/*****************しゅくだいリスト******************/
.hw-list {
	overflow: hidden;
	padding: 0;
	position: static;
	width: 550px;
	background: white;
	padding: 0;
	min-height: 360px;
	border-radius: 50px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.hw-header {
	background: #a4d6f0;
	padding: 10px;
	font-size: 30px;
    font-family:  'BIZ UDPGothic', sans-serif;
}
.hw-body {
	padding: 20px;
	line-height:2.0;
	font-size: 20px;
    font-family:  'BIZ UDPGothic', sans-serif;
}
.hw-body ul{
	list-style:none;
	padding:0;
	margin:0;
}

.hw-body li{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:12px 5px;
	border-bottom:1px solid #EAEAEA;
	font-weight:bold;
}

.hw-body li:last-child{
	border-bottom:none;
}
.hw-input {
	margin-top: 20px;
	display: flex;
	gap: 10px;
}
.hw-input input {
	flex: 1;
	padding: 10px;
	border: 1px solid #50dae4;
	border-radius: 10px;
}
/**************しゅくだいの追加ボタン*********************/
.hw-input button {
	padding: 10px 20px;
	background: #1282f1;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

/**************更新ボタン、最終更新日時*********************/
#lastUpdateItem,
#lastUpdateHw{
	color:#E53935;
	font-weight:bold;
	font-size:20px;
}

.item-update button{
	width:180px;
	height:55px;

	background:white;
	color:#28a745;

	border:2px solid #28a745;
	border-radius:15px;

	font-size:20px;
	font-weight:bold;
}

.hw-update button{
	width:180px;
	height:55px;

	background:white;
	color:#0d6efd;

	border:2px solid #0d6efd;
	border-radius:15px;

	font-size:20px;
	font-weight:bold;
}