html {
    background-color: #F8FAFE;
}

.lists {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	gap: 20px;
}
.list {
    width: 100%;
    box-sizing: border-box;
}
footer {
	background-color: #ffffff;
	border: 2px solid #CAD3DD;
}
.footer-icon {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	gap: 100px;
}
.footer-nav {
	width: 100%;
    box-sizing: border-box;
}

/* モバイル対応 */
@media(max-width: 767px){
	.lists {
		display: grid;
		grid-template-columns: 1fr;
		list-style: none;
		gap: 20px;
	}
    .nav ul {
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer-icon {
		display: grid;
		grid-template-columns: 1fr;
		list-style: none;
		gap: 50px;
	}
    .footer-nav {
        flex-wrap: wrap;
    }
    main {
        padding: 0 4%;
    }
}