html {
    background-color: #F8FAFE;
}
p {
	text-align: center;
}
.lists {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	gap: 20px;
	margin: 0 auto;
}
.list {
    width: 100%;
    box-sizing: border-box;
}


/* モバイル対応 */
@media(max-width: 767px){
.lists {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
	gap: 20px;
	margin: 0 auto;
}
    .nav ul {
        flex-wrap: wrap;
        gap: 20px;
    }
    main {
        padding: 0 4%;
    }
}