html {
    background-color: #F8FAFE;
}
p {
	text-align: center;
}
/* 日付の表示(CSS) */
.calendar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-size: 30px;
	margin-top: 30px;
}
.lists {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	margin: 0 auto;
}
.list {
    width: 100%;
    box-sizing: border-box;
}


/* モバイル対応 */
@media(max-width: 767px){
body {
    color: #4D586D;
}
.header {
  color: #CAD3DD;
  background-color: white;
  text-align: center;
  border: 2px solid #CAD3DD;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px 10px 0px ;
  box-sizing: border-box;
} 

.name {
    color: #4D586D;
}

main {
    padding-top: 60px;
}

.update-date{
  color: #4D586D;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #CAD3DD;
  border-radius: 16px;
  margin: 0px 50px 0px 50px;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.lists {
  grid-template-columns: 1fr;
}

.list {
    border: 2px solid #CAD3DD;
    background-color: white;
    border-radius: 16px;
    padding-left: 20px;
    font-size: 20px;
    margin: 20px auto 0;
    width: 90%;
    max-width: 300px;
    display: flex;
    align-items: center;
}

/* リアクション */
.reaction-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

/*フッター*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

.footer-icon {
    text-align: center; 
    font-size: 20px;
    border: 2px solid #CAD3DD;
    margin-bottom: 0;
    padding: 10px 0px 10px 0px ;
    list-style: none;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


form:first-child {
    border-right: 1px solid #CAD3DD;
}

button {
    border: none;       
    background: none;  
    padding: 0;         
}

}