html {
    background-color: #F8FAFE;
}
p {
	text-align: center;
}

/* モバイル対応 */

	body {
    color: #4D586D;
    font-family: 'Hiragino Sans';
}

/* ヘッダー */
.header {
  color: #CAD3DD;
  background-color: white;
  text-align: center;
  border: 2px solid #CAD3DD;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px 10px 0px ;
  box-sizing: border-box;
} 

.name {
    color: #4D586D;
}

main {
    padding-top: 60px;
    padding-bottom: 80px;
}

.update-date{
  color: #4D586D;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #CAD3DD;
  border-radius: 16px;
  margin: 0px 50px 0px 50px;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

/* リスト */
.lists{
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 50px;
    margin-top: 20px;
}

.list{
    width: 300px;
    min-height: 350px;
    background: #fff;
    border: 2px solid #CAD3DD;
    border-radius: 25px;
    justify-content: center; 
    align-items: center;  
}

/* リストの見出し部分 */
.list h3{
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 25px;
    color: #4B5875;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #CAD3DD;
    padding-right: 20px;
}

.list ul{
    list-style: none;
    padding: 0 25px;
    margin: 0;
}

.list li{
    font-size: 18px;
    color: #4B5875;
    padding: 18px 0;
    border-bottom: 2px solid #CAD3DD;
    position: relative;
    padding-left: 10px;
}

/*フッター*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

.footer-icon {
    text-align: center; 
    font-size: 20px;
    border: 2px solid #CAD3DD;
    margin-bottom: 0;
    padding: 10px 0px 10px 0px ;
    list-style: none;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


form:first-child {
    border-right: 1px solid #CAD3DD;
}

button {
    border: none;       
    background: none;  
    padding: 0;         
}

