body {
	background-color: #FDFBF6;
}

/* 日付の表示とタイトル */
.calendar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-size: 30px;
	margin-top: 30px;
}

#today {
	font-size: 30px;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

/* スタンプ一覧 */
h3 {
	font-size: 23px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.stamps{
	display: grid;
	grid-template-columns: repeat(3, 250px);
	gap: 30px;
	justify-content: center;
	margin-top: 30px;
}

.stamp_btn {
	padding: 0.5em 1em;
	margin: 1rem 1rem 1rem 1rem;
	border: 2px solid #92D050;
	background: white;
	border-radius: 16px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stamp_btn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

p {
	font-size: 15px;
	text-align: left;
}

.detail {
	display: flex;
	justify-content: space-between;
	margin-left: 13px;
	align-items: center;
}



/* テーブル */
.seat_table{
	display:none;
    margin: auto;
    border-spacing: 60px 35px;
}

