@charset "UTF-8";

body {
	background-color: #8cd1e6;
}


/* 座席エリア */
.seat_area{
    display: grid;
    grid-template-columns: repeat(6, 140px);
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

/* 生徒1人分 */
.seat_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 90px;

    background: white;
    border: 2px solid #92D050;
    border-radius: 10px;
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
}

.seat_btn{
    width:120px;
    height:80px;

    border:2px solid #92D050;
    border-radius:10px;
    background:white;

    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

.seat_btn.selected{
    background:#92D050;
    color:white;
}

/* OKボタン */
.okArea{
    text-align: center;
    margin-top: 90px;
}

.ok_btn{
    width: 120px;
    height: 50px;
    font-size: 20px;
}