@charset "UTF-8";

    

/* 全体 */
body{
	margin:0;
	background:#CAEEFB;
	 font-family:  'BIZ UDPGothic', sans-serif;
}

/* ヘッダー */
.student_header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:20px 50px;
}

/* 太陽 */
.sun_img{
	width:120px;
	height:auto;
}

/* 雲 */
.date,
.result{
	position:relative;
}

.cloud_img{
	width:250px;
	height:auto;
}

/* 雲の文字 */
.date_text,
.result_text{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
	font-weight:bold;
	font-size:20px;
	color:#333;
	white-space:nowrap;
}

/* 日付の表示とタイトル */
.calendar {
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/* メイン */
.student_main{
	 display: flex;
	justify-content:center;
	margin-top:30px;
	position: relative;
}

/* 持ち物・宿題エリア */
section{
	display:flex;
	gap:200px;
}

/* リスト */
section div{
	background:white;
	width:500px;
	padding:20px;
	border-radius:20px;
	box-shadow:0 4px 12px rgba(0,0,0,0.15);
	font-size:24px;      /* 文字サイズ */
	font-weight:bold;    /* 太字 */
}

/* タイトル */
h3{
	margin-top:0;
	text-align:center;
	color:white;
	background:#92D050;
	padding:10px;
	border-radius:10px;
}

ul{
	list-style:none;
	padding:0;
}

li{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:12px;
	margin-bottom:10px;
	background:#f5f5f5;
	border-radius:10px;
}

.list1 {
	margin-right: 150px;
	width: 400px;
}

.list2 {
	width: 400px;
	margin-left: 150px;
}

/* フッター */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.flower {
    position: absolute;
    bottom: 60px; 
    left: 50px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.ground_img {
    width: 100%;
    display: block;
    z-index: 2;
    position: relative;
}