/* 全てのページに適用 */
.student_result {
    font-size: 18px;
    font-family:  'BIZ UDPGothic', sans-serif;
    margin: 0 0 0 0;	/* マージンなし（後で個別に設定） */
    padding: 0 0 0 0;	/* パディングなし（後で個別に設定） */
    color: black;
    background-color: #CAEEFB;
}

/* ヘッダー */
.student_header{
    display: flex;
    
}

.sun {
   margin-top: 20px;
   margin-left: 70px;
}

.cloud{
    margin: 10px 10px 10px 250px;
}

.result {
    margin-left: 300px;
}

.result:hover {
  transform: scale(1.1);
}

/* 日付の表示とタイトル */
.calendar {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 8px; 
    font-size: 30px;
}

#today2 {
    margin-top: 0px;
}

h1 {
    text-align: center;
}
.stamps {
    display: flex;
    justify-content: center;
    text-align: center; 
    font-size: 18px;
    width: 100%;
}

.stamp1,.stamp2,.stamp3,.stamp4,.stamp5,.stamp6 {
    padding: 0.5em 1em;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid #92D050;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 3; 
}

.stamp3 {
	margin-right: 200px;
}

.stamp4 {
    margin-left: 200px;
}

/* フッター */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.flower {
    position: absolute;
    bottom: 60px; /* 土の上に乗るように調整 */
    left: 50px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.ground_img {
    width: 100%;
    display: block;
    z-index: 2;
    position: relative;
}
